<%- include('../layouts/header', {title: 'Home'}) %>

<%- include('../layouts/menu') %>

<section class="section hero is-link is-fullheight-with-navbar">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title" id="homepage-title">
        todoList App!
      </h1>
      <h2 class="subtitle" id="homepage-subtitle">
        Manage your daily stasks with todoList App =D
      </h2>
      <span><a href="/checklists" class="button" id="menu-button">Go to checklists!</a></span>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>
